{% load static %}
<div class="wrapper">
    <header class="main-header">
        <a href="{% url 'usermanagement:dashboard' %}" class="logo">
            <!-- Logo -->
            <span class="logo-mini">
               <img src="{% static '' %}dist/img/mini-logo.png" alt="">
               </span>
            <span class="logo-lg">
               <img src="{% static '' %}dist/img/logo.png" alt="">
               </span>
        </a>
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <!-- Sidebar toggle button-->
                <span class="sr-only">Toggle navigation</span>
                <span class="pe-7s-angle-left-circle"></span>
            </a>
            <!-- searchbar-->
            <a href="#search"><span class="pe-7s-search"></span></a>
            <div id="search">
                <button type="button" class="close">×</button>
                <form>
                    <input type="search" value="" placeholder="Search.."/>
                    <button type="submit" class="btn btn-add">Search...</button>
                </form>
            </div>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Notifications -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="pe-7s-bell"></i>
                            <span class="label label-warning">7</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <ul class="menu">
                                    <li>
                                        <a href="#" class="border-gray">
                                            <i class="fa fa-dot-circle-o color-green"></i>Change Your font style</a>
                                    </li>
                                    <li><a href="#" class="border-gray">
                                        <i class="fa fa-dot-circle-o color-red"></i>
                                        check the system ststus..</a>
                                    </li>
                                    <li><a href="#" class="border-gray">
                                        <i class="fa fa-dot-circle-o color-yellow"></i>
                                        Add more admin...</a>
                                    </li>
                                    <li><a href="#" class="border-gray">
                                        <i class="fa fa-dot-circle-o color-violet"></i> Add more clients and order</a>
                                    </li>
                                    <li><a href="#" class="border-gray">
                                        <i class="fa fa-dot-circle-o color-yellow"></i>
                                        Add more admin...</a>
                                    </li>
                                    <li><a href="#" class="border-gray">
                                        <i class="fa fa-dot-circle-o color-violet"></i> Add more clients and order</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- user -->
                    <li class="dropdown dropdown-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{% static '' %}dist/img/avatar5.png" class="img-circle" width="45" height="45"
                                 alt="user"></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'usermanagement:User_profile' %}">
                                    <i class="fa fa-user"></i> User Profile</a>
                            </li>
                            <li><a href="{% url 'usermanagement:logout' %}">
                                <i class="fa fa-sign-out"></i> Signout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
