{% include 'includes/header.html' %}
{% include 'includes/top-nav.html' %}
{% include 'includes/side-menu.html' %}
{% load static %}
<div class="content-wrapper">
    <div class="middle-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="error-text">

                    <h3><span><img src="{% static '' %}dist/img/accessdenied.png"
                                   style="width:270px; heigh:270px;"></span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="error-desc">
                    <p>
                    <h2>Access is denied Due to invalid credentials.</h2>
                    <h5>You do not have permission to view this
                        resouece using the credebtials that you supplied.</h5>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}